/* @import "bootstrap/dist/css/bootstrap.css"; */
@import url('bootstrap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin-top: 40px;

  img {
    position: relative;
    top: -40px;
  }

  a {
    padding: 10px;
    color: black;
    text-decoration: none;

  }

  a:nth-child(2) {
    color: cyan;
    border-bottom: 3px solid cyan;
  }
}

.bg-black {
  background-color: black;
  padding: 5px;
}

.bg-blue {
  background-color: blue;
}

.container {
  padding: 45px;

  .immagine {
    max-height: 60px;
  }

}

footer {
  background-image: url('/footer-bg.jpg');
  max-width: 100%;
  color: white;
  position: relative;
  overflow: hidden;
  z-index: 2;

  .Footer-nav {
    a {
      color: gray;
      text-decoration: none;
      display: flex;
    }
  }

  .img-Footer {
    position: absolute;
    bottom: 70px;
    right: 290px;
    width: 600px;
    z-index: 1;
  }

  .BtFooter {
    background-color: #303030;

  }

  .SignUp {
    border: 2px solid cyan;
    background-color: #303030;
    padding: 10px;
    color: white;
  }



  .site {
    display: flex;
    justify-content: end;
    align-items: end;

  }

  .web {

    padding: 5px;
  }

  .BtFooter {
    background-color: #303030;

    .BtFooter-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .social {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  .UpFooter {
    overflow: hidden;
    position: relative;
  }

  .img-Footer {
    position: absolute;
    bottom: -50px;
    right: 290px;
    width: 600px;
    z-index: 1;
  }
}