@import "bootstrap/scss/bootstrap";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  display: flex;
  justify-content: space-around;
  padding: 60px;
    img{
      position: relative;
      top: -40px;
    }
    a{
      padding: 10px;
      color: black;
      text-decoration: none;

    }
    a:nth-child(2){
      color: cyan;
      border-bottom: 3px solid cyan;
    }
}

main{
    .contaier{
      
      border: 2px solid red;
      background-color: black;
    }
}